body{
    height: 300px;
}
.boxView{
    padding-top: 10px;
    padding-bottom: 10px;
}
.boxView span.title{
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
    margin-bottom: 0;
}
.basicAuth span.note{
    font-size: 0.7em
}
.basicAuth input{
    width: 80px;
}
#logResult{
    width: 100%;
    height: 100px;
    text-align: left;
}
#logResult{
    padding:5px 10px;
    border: 1px solid #c4c4c4;
    width: 100%;
    min-height: 100px;
}
#url{ width:250px }

.gray { color: #151515; }
.red  { color:red; }
.green{ color: green; }
